bleach
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
MarkupSafe
mistune
nbconvert
nbformat
notebook
numpy
olefile
pandocfilters
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
python-dateutil
PyYAML
pyzmq
qtconsole
simplegeneric
six
terminado
testpath
torch
torchvision
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
